.catalog {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
}
.header_catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.h1_catalog {
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-family: Montserrat;
}
.input {
  display: flex;
  width: 633px;
  position: relative;
}
.input input {
  width: 100%;
  font-size: 16px;
  outline: none;
  padding: 8px 15px;
  color: #adadad;
  background: fff;
  border: none;
  border: none;
  border-radius: 8px;
  font-family: Montserrat;
}
.cat_input {
  background: rgb(255, 255, 255);
  color: #252525;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.ikon_search {
  position: absolute;
  bottom: 3px;
  right: 15px;
}
.catalog_wrapper {
  margin-top: 47px;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}
.tovar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: Montserrat;
}
.img_tovar {
  width: 300px;
  height: 381px;
}
.img_tovar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.price_old {
  text-decoration-line: line-through;
  color: #e9e9e9;
}
.prices {
  display: flex;
  gap: 27px;
  font-weight: 500;
  align-items: center;
}
