header {
  top: 0;
  width: 1300px;
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
.btns_header {
  display: flex;
  gap: 31px;
}
nav {
  display: flex;
  gap: 30px;
}
.navlink {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.navlink:hover {
  color: #ff2d2d;
}

.class {
  color: green;
}
.ikon {
  cursor: pointer;
}

.logo {
  text-decoration: none;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}
